/* you can add to or change this. */

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}
#restart {
  display: none;
}
.scores {
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
}
