/* font-family: 'Anton', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Merriweather', serif; */

html {
  scroll-behavior: smooth;
}
@media only screen and (max-width: 400) {
  div > h1 {
    font-size: 1em;
  }
  #scores {
    flex-flow: row wrap;
    margin-top: 5px;
  }
  #game > div {
    max-width: 50px;
    max-height: 50px;
    margin: 2px;
  }

  #start,
  #restart {
    letter-spacing: 0;
    min-width: fit-content;
  }
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: block;
}
#restart {
  display: none;
  background-color: #052a31;
  width: 25%;
  color: white;
  border-radius: 10px;

  border: solid;
}
div > h1 {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.gameSettings {
  background-color: #052a31ae;
  box-shadow: 5px 5px 10px 0 white;
  color: white;
  display: flex;
  justify-content: space-around;
}
.settingsContainers {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Fugaz One', cursive;
}

.counter {
  font-family: 'Bangers', cursive;
  font-size: 1em;
}
#lowScore,
#counter {
  font-size: 2em;
}
.scores {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
body {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #052a31);
}
h1 {
  flex-basis: 100%;
}
#start {
  color: #052a31;
  border-radius: 10px;
  /* min-width: fit-content; */

  transition: background-color 0.5s, border-radius 0.2s ease-out, color 0.5s;
  margin-top: 10px;
  font-family: 'Bangers', cursive;
  letter-spacing: 4px;

  /* align-self: flex-start; */
}
#start:hover {
  background-color: #026217;
  color: rgb(255, 255, 255);
  border-radius: 7px;
}

#game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
  margin-left: 3vh;
  margin-right: 3vh;
  flex-grow: 1;
}

.gameButtons {
  background-color: #052a31;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  border: solid;
}

#feet {
  display: flex;
  justify-content: space-around;
}
